.container{
    background: linear-gradient(to right,blueviolet,purple);
    max-width: 400px;
    max-height: 900px;
    display:block;
    margin: 0 auto;
    padding:140px 40px;
    border-radius: 50px;



}